:local {
	.root {
		margin: 0 auto;
		padding: 20px 0;
		text-align: center;
		box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.image {
		display: block;
		height: 100%;
	}
}
